<body background="https://edge.alluremedia.com.au/m/g/2017/12/book-stack.jpg">

</body>
<ul id="book-show">
  <h1><%= @book.title %></h1>
    <img src=<%= @book.thumb_url %> alt="book pic" width=200>
    <li>Published: <%= @book.pub_year %></li>
    <li>Pages: <%= @book.pages %></li>
    
    <% @authors.each do |author| %>
    <ul id="book-show-authors">
      <li>Author Name: <%= link_to author.name, author_path(author) %></li>
    </ul>
    <% end %>
  </ul>
  <section id="review-stats">
    <div class="book-top-three">
    <h3>Overall Average Score: <%= @book.average_rating %></h3>
    <h3>Top Three Reviews</h3>
      <% @book.top_three.each do |review| %>
        <%= link_to review.user, reviews_path(name: review.user) %>
        <%= review.heading %>
        <%= review.score %>
      <% end %>
    </div>

    <div id="book-lowest-three">
    <h3>Lowest Three Reviews</h3>
      <% @book.lowest_three.each do |review| %>
        <%= link_to review.user, reviews_path(name: review.user) %>
        <%= review.heading %>
        <%= review.score %>
      <% end %>
    </div>
  </section>

<%= link_to "Add a Review", new_book_review_path(@book) %>

<h3>Reviews:</h3>
  <% @reviews.each do |review|%>
    <ul id="review-<%= review.id %>" class="review-card">
      <h3><%= link_to review.user, reviews_path(name: review.user) %></h3>
      <li><%= review.user %></li>
    <li><%= review.heading %></li>
    <li><%= review.score %></li>
    <li><%= review.full_review %></li>
    </ul>
  <% end %>
<%= link_to "Delete Book", book_path(@book), method: :delete %>
