<% @reviews.each do |review| %>
<section id="review-<%= review.id %>" >
  <%= review.user %>
  <%= review.heading %>
  <%= review.full_review %>
  <%= review.score %>
  <%= review.book.title %>
<img src="<%= review.book.thumb_url %>" alt="reviewbook-<%= review.book.id %>">
<%= link_to "Delete Review", review, method: :delete %>
  <%= review.created_at %>

</section>
<% end  %>
